/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

/* HERO (BANNER) */
.hero {
  display: flex;
  justify-content: center;
  padding: 40px 20px 0;
  margin-bottom: -20px;
}

.hero-img-container {
  position: relative;
  width: 90%;
  max-width: 380px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(228, 183, 93, 0.2);
}

.hero-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center top;
  filter: brightness(0.5);
  border-radius: 25px;
}

.hero-text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
}

.hero-text h1 {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.4;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-text span {
  color: #f5ca06;
  font-weight: bold;
}

/* LINKS SECTION */
.links {
  padding: 40px 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.icon {
  color: #f5ca06;
  font-size: 28px;
  transition: color 0.3s ease;
  
  margin-bottom: 28px;
}

.icon:hover {
  color: #fff;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}

/* CARD STYLE (sem imagem) */
.card {
  background-color: #111;
  border: 1px solid #2a2a2a;
  border-radius: 25px;
  margin: 20px auto;
  max-width: 380px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(228, 183, 93, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(228, 183, 93, 0.2);
}

.card-content {
  padding: 25px 20px;
}

.card-content h3 {
  color: #f5ca06;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card-content p {
  color: #ccc;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.card-content a {
  color: #f5ca06;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #f5ca06;
  color: #000;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background-color: #cfa64f;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
  color: #aaa;
}

footer a{
color: #f5ca06;
text-decoration: none;
}

footer a:hover {
  text-decoration:underline;
}

/* RESPONSIVO */

@media (max-width: 480px) {

  .hero-img-container {
    position: relative;
    width: 90%;
    max-width: 380px;}

  .hero-text h1 {
    font-size: 1.2rem;
  }
}